<div class="header py-4">
	<div class="container">
		<div class="d-flex">
			<a class="header-brand" title="Inicio" href="{{ twg_func( 'base_url') }}">{{ projectTitle }}</a>

			<div class="d-flex order-lg-2 ml-auto">
				<div class="dropdown" style="display: flex;">
					<span class="avatar" style="background-image: url({{ twg_func( 'assets_url') }}/images/demo/user.jpg)"></span>
					<span class="ml-2 d-none d-lg-block">
						<span class="text-default">Usuario U</span>
						<small class="text-muted d-block mt-1">email@example.com</small>
					</span>
				</div>
			</div>

			<a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
				<span class="header-toggler-icon"></span>
			</a>
		</div>
	</div>
</div>
